{
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "gamesense": true
    },
    "rules": {
        "eqeqeq": 0,
        "no-use-before-define": 0,
        "no-unused-vars": 1,

        "valid-jsdoc": [2, {
            "requireReturn": false,
            "requireParamDescription": false,
            "prefer": {
                "return": "returns"
            }
        }],

        "quotes": [2, "single"],
        "strict": 1,
        "func-names": 2,
        "curly": 2
    }
}